/* css for sider button */
.ant-layout .ant-layout-sider-zero-width-trigger {
  position: absolute;
  top: 64px;
  inset-inline-end: -40px;
  z-index: 1;
  width: 40px;
  height: 40px;
  color: #fff;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #001529;
  border-start-start-radius: 0;
  border-start-end-radius: 6px;
  border-end-end-radius: 6px;
  border-end-start-radius: 0;
  cursor: pointer;
  transition: background 0.3s ease;
}
